.body{
  background-color: black;
  height: 600px;
  width: 600px;
}
.block{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.block1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}
.generate{
  background-color: lightblue;
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin-right: 10px;
}
.generate1{
  background-color: lightblue;
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin-left: 10px;
}

.main{
  margin: auto;
  height: 180px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.pole{
  background-color: palegreen;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  height: 40px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.pole1{
  margin-left: 5px;
  background-color: palegreen;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  height: 40px;
  width: 150px;

}
table {
  margin: 1rem auto;
}

td {
  padding: 0.5rem;
}
table.fixed { table-layout:fixed; width:30px; word-break:break-all;}


.mainpopup{
  height: 100px;
  width: 200px;
  background-color: lightblue;
  margin:auto;

  display: none;
  /* align-items: center;
  margin-left: 240px;
  margin-top: 240px; */
}
.money_pop{
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 160px;
  margin-left: 15px;
  margin-top: 20px;
  text-align: center;
}
.d_pop{
  background-color: palegreen;
  border-style: solid;
  border-radius: 10px;
  height: 18px;
  width: 64px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.d_pop:hover{
  background-color: #f7f8aa;
  border-style: solid;
  border-radius: 10px;
  height: 18px;
  width: 64px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.d_pop:active{
  background-color: #f8a5a5;
  border-style: solid;
  border-radius: 10px;
  height: 18px;
  width: 64px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.pafos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 22px;
}
.block{
  display: flex;
  flex-direction: row;
}