<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

    <title>Регистрация и вход</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Вход</h2>

            <form method="post">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Войти</button>
            </form>
            <a href="/"><span>Регистрация</span></a>
        </div>
    </div>
</body>
</html>




