<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

    <title>Регистрация и вход</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Регистрация</h2>
            <form method="post">
                <label>Имя пользователя:</label>
                <input type="text" id="username" name="username" required>

                <label>Пароль:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Зарегистрироваться</button>
            </form>
            <a href="log_in"><span>Войти</span></a>
        </div>


    </div>
</body>
</html>